@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins&family=Roboto&family=Roboto+Slab&family=Sofia+Sans:ital,wght@0,100;0,200;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.1)),url('./1057754.jpg');    */
    background-color: #181818;
    background-size: cover;
    background-position: no-repeat;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: #181818;
}

body::-webkit-scrollbar-thumb {
    background-color: #e6b91f;
    border-radius: 10px;
}

/* navbar section */

nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
}

.nav-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 60px;
    height: 60px;
    filter: drop-shadow(5px 5px 20px #000000);
    cursor: pointer;
}

.nav-controller {
    display: flex;
    align-items: center;
}

.nav-ul {
    color: white;
    display: flex;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
}

.nav-ul a {
    text-decoration: none;
    color: white;
}

.nav-ul li {
    margin: 20px;
    cursor: pointer;
    font-weight: 600;
}

.mobile-navbar-button {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    display: none;
}

.home.active {
    color: red;
}

.search.active {
    color: red;
}

.watchlist.active {
    color: red;
}

.favourite.active {
    color: red;
}

.contact-us.active {
    color: red;
}

.some-usefull-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* home section */

.home-container {
    width: 100vw;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.home-container.active {
    display: flex;
}

.slogon-container {
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.slogon-p {
    font-size: 1.2rem;
    color: #f8e39c;
} 

.slogon-head {
    font-size: 4.5rem;
    color: #e6b91f;
}

.slogon-p1 {
    font-size: 1rem;
    color: #f8e39c;
    margin-top: 20px;
}

.home-search-button {
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    background-color: #e6b91f;
    color: #181818;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #030202;
    transition: all 0.5s ease-in-out; 
}

.home-search-button:hover {
    background-color: rgb(243, 213, 113);
    color: #181818;
}

/* search section */

.search-body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 10%;
    display: none;
    overflow: hidden;
}

.search-body.active {
    display: flex;
}

.search-slogon {
    width: 1200px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #f5d879;
    transition: all 0.5s ease-in-out;
}

.searchbar-container {
    display: flex;
    transition: all 0.5s ease-in-out;
    margin-top: 200px;
    margin-bottom: 50px;
}

.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -6%;
}

input {
    border: none;
    width: 30vw;
    height: 5vh;
    padding: 10px 50px;
    border-radius: 40px;
    font-size: 0.9rem;
    background-color: #060a0b;
    box-shadow: 5px 5px 10px #030202;
    color: grey;
    font-weight: 600;
}

input:focus {
    outline: none;
}

.fa-magnifying-glass {
    color: grey;
}

.mic-search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -7%;
}

.mic-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/* movie card section */

.movies-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 80vw;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    box-sizing: border-box;
}

.movies-card-container::-webkit-scrollbar {
    display: none;
}

.card {
    width: 300px;
    height: 450px;
    background-color: #1a1a1a;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 10px 10px 20px #000000;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.card:hover {
   transform: scale(1.01);
}

.movie-image-container {
    height: 100%;
}

.movie-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.like-container {
    position: absolute;
    bottom: 4%;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px 10px 15px 10px;
    z-index: 1;
}

.like-image {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.watchlist-button-container {
    position: absolute;
    top: 0%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 15px;
    cursor: pointer;
    z-index: 1;
}

.fa-bookmark {
    font-size: 1.8rem;
    color: rgb(235, 233, 233);
}

.fa-bookmark:hover {
    color: rgb(196, 194, 194);
}

.no-movie-found img {
    width: 250px;
    height: 250px;
    filter: drop-shadow(5px 5px 20px #000000);
    margin-bottom: 200px;
}

.movie-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 19px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.movie-info-container:hover {
    opacity: 1;
}

.no-poster-card {
    width: 300px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px #000000;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.no-poster-card:hover {
   transform: scale(1.01);
}

.no-poster-movie-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.no-poster-movie-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 19px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.movie-title {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.movie-title span {
    font-size: 0.6rem;
}

.movie-year-rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.movie-rating {
    margin-right: 10px;
}

.movie-year {
    font-size: 0.6rem;
    margin-right: 10px;
}

.movie-rated {
    font-size: 0.6rem;
    margin-right: 10px;
    background-color: #474747;
    padding: 2px 5px;
    border-radius: 5px;
}

.movie-plot-container {
    text-align: center;
    margin-bottom: 10px;
}

.movie-plot {
    font-size: 0.7rem;
}

.movie-genre {
    font-size: 0.7rem;
}

.movie-more-info-container {
    width: 60vw;
    height: 75vh;
    background-color: #060a0b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 15%;
    translate: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.movie-more-info {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-more-info-image-container {
    width: 40%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.movie-more-info-image {
    width: 75%;
    height: 75%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000000;
}

.movie-more-info-info-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.movie-more-info-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.movie-more-info-title {
    font-size: 2rem;
    font-weight: 600;
}

.movie-more-info-genre {
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #474747;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.movie-more-info-rated {
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #474747;
    padding: 2px 5px;
    border-radius: 5px;
}

.movie-more-info-year {
    font-size: 0.8rem;
    margin-top: 9px;
}

.movie-more-info-year-rating-container {
    margin-bottom: 10px;
}

.movie-more-info-rating-number {
    font-size: 0.9rem;
}

.movie-more-info-genre-container {
    margin-bottom: 10px;
}

.movie-more-info-plot {
    font-size: 0.9rem;
    letter-spacing: 0px;
}

.movie-more-info-plot-container {
    margin-bottom: 10px;
}

.movie-more-info-actors-container {
    margin-bottom: 10px;
}

.movie-more-info-awards-container {
    margin-bottom: 10px;
}

.action-buttons-container {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

.add-to-watchlist-button {
    width: 100%;
    height: 100%;
    background-color: #e6b91f;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-to-watchlist-button:hover {
    background-color: #f0c949;
    color: black;
}

.add-to-favorites-button {
    width: 100%;
    height: 100%;
    background-color: #e6b91f;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-to-favorites-button:hover {
    background-color: #f0c949;
    color: black;
}

.close-more-info-container {
    position: absolute;
    top: -0%;
    right: 0;
    margin: 20px;
    cursor: pointer;
}


/* watchlist section */

.watchlist-body {
    width: 90vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    display: none;
    position: absolute;
    top: 12%;
}

.watchlist-body.active {
    display: flex;
}

.watchlist-body::-webkit-scrollbar {
    display: none;
}

.watchlist-card-container {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}


/* favourite section */

.favourite-body {
    width: 90vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    display: none;
    position: absolute;
    top: 12%;
}

.favourite-body.active {
    display: flex;
}

.favourite-body::-webkit-scrollbar {
    display: none;
}

.favourite-card-container {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.no-movie-in-watchlist-text {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.no-movie-in-favouriteList-text {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.favourite-movie-card {
    width: 15vw;
    height: 45vh;
    background-color: #1a1a1a;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 10px 10px 20px #000000;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.favourite-movie-card:hover {
    transform: scale(1.01);
}

.watchlist-button-image {
    position: absolute;
    top: -3px;
    left: 10%;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
    filter: brightness(0) invert(1);
}

.watchlist-button-image.active {
    position: absolute;
    top: 0;
    left: 10%;
    filter: brightness(1) invert(0);
    transform: rotate(0deg);
}


/* footer */

footer {
    width: 100vw;
    height: 2.5vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.developer-name {
    color: lightgray;
    font-size: 0.6rem;
    font-weight: 600;
}


/* Responsive */

/* laptop */

@media screen and (max-width: 1400px){

    input {
        height: 6vh;
        padding: 10px 60px;
    }

    .search-icon-container {
        right: -8%;
    }

    .mic-search-icon-container {
        left: -8%;
    }

    .movies-card-container {
        height: 75vh;
    }

    .movie-title  {
        font-size: 0.9rem;
    }

    .movie-title span {
        font-size: 0.5rem;
    }

    .movie-year-rating-container {
        width: 14vw;
        font-size: 0.8rem;
    }

    .movie-plot {
        font-size: 0.6rem;
    }

    .movie-genre {
        font-size: 0.7rem;
    }

    /* movie more card */

    .movie-more-info-info-container {
        font-size: 0.6rem;
    }

    .movie-more-info-title {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .movie-more-info-rating {
        font-size: 0.8rem;
    }

    .movie-more-info-rating-number {
        font-size: 0.7rem;
    }

    .movie-more-info-plot {
        font-size: 0.8rem;
    }

    .movie-more-info-title {
        font-size: 1rem;
    }

    .movie-more-info-genre {
        font-size: 0.6rem;
    }

    .movie-more-info-rated {
        font-size: 0.6rem;
    }

    /* movie more info button */

    .add-to-watchlist-button {
        width: 100%;
        height: 100%;
        background-color: #e6b91f;
        color: black;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 0.7rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .add-to-favorites-button {
        width: 100%;
        height: 100%;
        background-color: #e6b91f;
        color: black;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-size: 0.7rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
}

/* tablet */
 
@media screen and (max-width: 950px) {

    .logo-container img {
        width: 80px;
        height: 80px;
    }

    .nav-ul {
        font-size: 0.8rem;
    }

    .slogon-p {
        font-size: 1.5rem;
    }

    .slogon-head {
        font-size: 3.5rem;
    }

    .slogon-container {
        width: 750px;
    }

    .slogon-p1 {
        font-size: 1rem;
    }

    .home-search-button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .home-search-button {
        padding: 20px 35px;
        font-size: 1.5rem;
        border-radius: 15px;
    }

    .search-slogon {
        width: 600px;
        font-size: 0.9rem;
    }

    input {
        width: 70vw;
        height: 6vh;
        padding: 10px 80px;
        font-size: 1.5rem;
    }

    .search-icon-container {
        right: -9%;
    }

    .fa-magnifying-glass {
        font-size: 1.5rem;
    }

    .mic-search-icon-container {
        left: -9%;
    }

    .mic-icon {
        width: 40px;
        height: 40px;
    }

    .no-movie-found img {
        width: 350px;
        height: 350px;
    }

    .developer-name {
        font-size: 0.8rem;
    }

    .movie-more-info-container {
        width: 90%;
        height: 55%;
        top: 25%;
    }

    .movie-more-info-image-container {
        width: 60%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }
}


/* mobile */

@media screen and (max-width: 550px) {

    /* home page */

    .logo-container img {
        width: 50px;
        height: 50px;
    }

    .nav-ul {
        position: absolute;
        top: 35%;
        right: 10%;
        width: 150px;
        height: 200px;
        border-radius: 10px;
        background-color: black;
        color: white;
        z-index: 1;
        transition: all 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .nav-ul.active {
        display: flex;
    }

    .nav-ul li {
        font-size: 0.7rem;
        margin: 5px;
    }

    .mobile-navbar-button {
        display: block;
    }

    .slogon-p {
        font-size: 0.6rem;
    }

    .slogon-head {
        font-size: 2rem;
    }

    .slogon-container {
        width: 350px;
    }

    .slogon-p1 {
        font-size: 0.6rem;
    }

    .home-search-button {
        padding: 10px 20px;
        font-size: 0.9rem;
        border-radius: 10px;
    }

    /* search page */

    .search-slogon {
        width: 350px;
        font-size: 0.9rem;
    }

    input {
        width: 80vw;
        height: 6vh;
        padding: 10px 50px;
        font-size: 0.8rem;
    }

    .search-icon-container {
        right: -11%;
    }

    .fa-magnifying-glass {
        font-size: 0.9rem;
    }

    .mic-search-icon-container {
        left: -11%;
    }

    .mic-icon {
        width: 25px;
        height: 25px;
    }

    .movies-card-container {
        width: 100vw;
        height: 79vh;
        justify-content: initial;
        flex-wrap: nowrap;
        overflow: auto;
        flex-direction: column;
        gap: 2rem;
        margin-top: 30px;
    }

    .card {
        width: 260px;
        height: 400px;
    }

    .no-poster-card {
        width: 70vw;
        height: 65vh;
    }

    .movie-year-rating-container {
        width: 90%;
    }

    .movie-more-info {
        width: 100%;
        height: 100%;
        justify-content: initial;
        flex-direction: column;
        overflow-y: scroll;
    }

    .movie-more-info::-webkit-scrollbar {
        display: none;
    }

    .movie-more-info-container {
        width: 90vw;
        height: 90vh;
        top: 4%;
    }

    .movie-more-info-image-container {
        width: 70%;
        height: 55%;
        padding: 15px;
    }

    .movie-more-info-image {
        width: 100%;
        height: 100%;
    }

    .movie-more-info-info-container {
        width: 90%;
        height: 100%;
        padding: 10px;
    }

    /* watchlist */

    .watchlist-card-container {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: initial;
        align-items: center;
    }

    .developer-name {
        font-size: 0.5rem;
    }
}

